@font-face { font-family: "moderna"
             src: url("../fuentes/mod20.ttf")
             format("truetype");
           }





@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@433&display=swap');

.tituloprincipal1 { font-family: 'Caveat', cursive;}

.contenido {font-family: 'Caveat', cursive;}


body {background-color: withe;
      background-image: url(../Imagenes/fondococina.jpg);

}
.logopag {width: 15vw;}

header { border: 5vw white;
         display: flex; flex-wrap: wrap; justify-content: space-around; align-items: center;
         background-color: #D2B4DE;

       }
         .iconoface {width: 5vw; }
         .iconoinstagram {width: 5vw;}
         .iconotwitter {width: 5vw;}
         .tituloprincipal1 {font-size: 300%}




nav {background-color: #AF7AC5;
     display: flex; justify-content: space-around;


      }

nav:hover {background-color: #A511AA;

          }

.iconowspp {width: 5vw;
            position: fixed; bottom:5vw;
            right: 5vw;
          }



footer { background-color: #C39BD3;

         display: flex; flex-wrap: wrap; justify-content: space-around; align-items: center;

        }



section {background-color: #C39BD3;}

.titulofotoplato {display: flex; justify-content: center;}


a:hover { color: pink;


}


.imglocgro {display: flex; flex-wrap: wrap; justify-content: center;}
