body {background-color:pink;}

.tituloprincipal1 {color: white}
.ingredientes {color: white}
.ingredientes {text-decoration: underline}
.modoprep {text-decoration: underline;}
.titulofotoplato {text-decoration: underline;}
.titulofotoplato {font-size:100%;}
p {text-align: center;}

.tituloprincipal1 {background-color: fuchsia}
