
/*fuentes de pagina */

@font-face { font-family: "moderna"
             src: url("../fuentes/mod20.ttf")
             format("truetype");
           }


@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@433&display=swap');

header { font-family: 'Caveat', cursive;}
footer { font-family: 'Caveat', cursive;}
nav {font-family: 'Caveat', cursive;}
section {font-family: 'Caveat', cursive;}
aside { font-family: 'Caveat',cursive;}


/* fondo de pagina */
body {background-color: white;
      background-image: url(../Imagenes/fondococina.jpg);

   }

/* estilo de encabezado */

header {background-color: ;
        display: flex; flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
     }

.logopag {width: 15vw;}


.iconoface {width: 5vw;}


.iconoinstagram { width: 5vw;}


.iconotwitter {width: 5vw;}


/* estilo barra de navegacion */

nav {background-color: #A38AAD;
     display: flex;
     flex-direction: row;
     padding: 14px 20px;
     justify-content: center;
     justify-content: space-around;

    }

nav a {text-decoration: none;
       color: #470264;
      }
a:hover { color: pink;}

nav:hover {background-color: #A511AA;

          }



/*estilo de parte principal */

.flex-container {
                 display: flex;

}


section { padding: 2%;
          background-color: #C39BD3;
          display: flex; flex-wrap: wrap;
      }

aside { background-color: #B5A2BD;
        padding: 2%;
       }



/* estilo de pie de pagina */

footer { display: flex; flex-wrap: wrap; justify-content: space-around; align-items: center;

        }
.cajamapabarrio {padding: 5%; }

/* icono flotante de whatsapp */

.iconowspp {width: 5vw;
            position: fixed; bottom:5vw;
            right: 5vw;
          }

/* diseño cards */

.btn { background: #E2ABF9;}

.card-body { text-align: center;}

 .btn { color: #66038F}


/*diseño para celular*/

@media (max-width: 700px) {
      .flex-container {
        flex-direction: column;
      }
      .nav {flex-direction: column;
    }
}

/* diseño de tablet desaparece fondo */

@media (max-width: 768px) {

}

/* elementos computadora*/


@media (min-width: 700px) {
  .cajapepino {display: none;
  }
}
